<form [formGroup]="profileForm"
  (ngSubmit)="submitForm()"
  *ngIf="!userId">
  <div class="form-field">
    <label for="firstName">First Name</label>
    <input type="text"
      id="firstName"
      name="firstName"
      formControlName="firstName">
  </div>

  <div class="form-field">
    <label for="lastName">Last Name</label>
    <input type="text"
      id="lastName"
      name="lastName"
      formControlName="lastName">
  </div>

  <div class="form-field">
    <label for="address">Address</label>
    <input type="text"
      id="address"
      name="address"
      formControlName="address">
  </div>

  <div class="form-field">
    <label for="city">City</label>
    <input type="text"
      id="city"
      name="city"
      formControlName="city">
  </div>

  <div class="form-field">
    <label for="state">State</label>
    <input type="text"
      id="state"
      name="state"
      formControlName="state">
  </div>

  <div class="form-field">
    <label for="zip">Zip</label>
    <input type="text"
      id="zip"
      name="zip"
      formControlName="zip">
  </div>

  <div class="form-field">
    <label for="phone">Last Name</label>
    <input type="tel"
      id="phone"
      name="phone"
      inputmode="tel"
      formControlName="phone">
  </div>

  <div class="form-field">
    <label for="email">Email</label>
    <input type="email"
      id="email"
      name="email"
      inputmode="email"
      formControlName="email">
  </div>

  <button type="submit">Continue</button>
  <button type="reset"
    (click)="resetForm('profileForm')">Cancel</button>
</form>

<form [formGroup]="dataForm"
  (ngSubmit)="submitData()"
  *ngIf="userId">
  <div class="form-field">
    <label for="monthlyIncome">Monthly Income</label>
    <input type="text"
      id="monthlyIncome"
      name="monthlyIncome"
      inputmode="numeric"
      formControlName="monthlyIncome">
  </div>

  <div class="form-field">
    <label for="otherMonthlyIncome">Other Monthly Income</label>
    <input type="text"
      id="otherMonthlyIncome"
      name="otherMonthlyIncome"
      inputmode="numeric"
      formControlName="otherMonthlyIncome">
  </div>

  <div class="form-field">
    <label for="rent">Rent</label>
    <input type="radio"
      id="rent"
      value="rent"
      formControlName="rentOrOwn">

    <label for="own">Own</label>
    <input type="radio"
      id="own"
      value="own"
      formControlName="rentOrOwn">
  </div>

  <div class="form-field">
    <label for="otherMonthlyIncome">Other Monthly Expenses</label>
    <input type="text"
      id="otherMonthlyExpenses"
      name="otherMonthlyExpenses"
      inputmode="numeric"
      formControlName="otherMonthlyExpenses">
  </div>

  {{dataForm.value}}

  <button type="submit">Submit</button>
  <button type="reset"
    (click)="resetForm('dataForm')">Cancel</button>
</form>
<!--
      <router-outlet></router-outlet> -->
