<a routerLink="/">Home</a>

<form [formGroup]="dataForm"
  (ngSubmit)="submitData()"
  *ngIf="userId">
  <div class="form-field">
    <label for="monthlyIncome">Monthly Income</label>
    <input type="text"
      id="monthlyIncome"
      name="monthlyIncome"
      inputmode="numeric"
      formControlName="monthlyIncome">
  </div>

  <div class="form-field">
    <label for="otherMonthlyIncome">Other Monthly Income</label>
    <input type="text"
      id="otherMonthlyIncome"
      name="otherMonthlyIncome"
      inputmode="numeric"
      formControlName="otherMonthlyIncome">
  </div>

  <div class="form-field">
    <label for="rent">Rent</label>
    <input type="radio"
      id="rent"
      value="rent"
      formControlName="rentOrOwn">

    <label for="own">Own</label>
    <input type="radio"
      id="own"
      value="own"
      formControlName="rentOrOwn">
  </div>

  <div class="form-field">
    <label for="otherMonthlyIncome">Other Monthly Expenses</label>
    <input type="text"
      id="otherMonthlyExpenses"
      name="otherMonthlyExpenses"
      inputmode="numeric"
      formControlName="otherMonthlyExpenses">
  </div>

  {{dataForm.value}}

  <button type="submit">Submit</button>
  <button type="reset"
    (click)="resetForm('dataForm')">Cancel</button>
</form>
<router-outlet></router-outlet>
